<div class="product-list">
  <div class="card mb-3">
    <h3 class="card-header">{{ product.title }}</h3>
    <div class="card-body">
      <h5 class="card-title" *ngIf="product.onSale">{{ product.saleText }}</h5>
      <h6 class="card-subtitle text-muted">Buy now!</h6>
    </div>
    <img src="{{ product.image }}" alt="product-image" class="img-thumbnail">
    <div class="card-body">
      <p class="card-text" *ngIf="product.description">{{ product.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a class="card-link" (click)="onAddToWishList()">Wishlist </a>
      <a class="card-link" (click)="onAddToCart()">Add to cart </a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
